.drawer {
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #333;

  transition: width 0.2s;

  z-index: 10;

  .home-link {
    margin: 0;

    a {
      font-family: Teko, sans-serif;
      font-weight: 500;

      padding: 10px 15px 7px;

      display: block;
      background-color: $anchor-color;
      color: white;
      transition: background-color 0.25s ease-out;

      &:hover {
        background-color: scale-color($anchor-color, $lightness: -15%);
      }

      @media (max-width: 1199px) {
        span {
          display: none;
        }
      }
    }
  }

  ul {
    margin: 16px 0 0;
    list-style-type: none;

    li {
      color: #b3b3b3;
      border-left: 3px solid #333;
      transition: color 0.25s ease-out;

      &:hover {
        .fa-circle::before {
          opacity: 1;
        }

        @media (max-width: 1199px) {
          .tooltip {
            display: inline-block;
          }
        }
      }

      &.li-tournaments:hover {
        color: #f4aa61;
      }

      &.li-results:hover {
        color: #d5ce7d;
      }

      &.li-rankings:hover {
        color: #7db5cd;
      }

      .fa {
        padding: 5px 14px;
      }

      .fa-circle {
        float: right;
        margin-top: 1px;

        &::before {
          opacity: 0;
          transition: opacity 0.25s ease-out;
        }
      }

      a {
        color: inherit;
        display: block;
        padding: 3px 0;
      }

      .tooltip {
        background: black;
        border-radius: 3px;
        color: white;
        display: none;
        font-size: 13px;
        left: 55px;
        padding: 2px 5px;
        position: absolute;
        margin-top: 1px;

        .tooltip-arrow {
          border-right-color: black !important;
          position: absolute;
          display: block;
          left: -10px;
          margin-top: 5px;
          border: 5px solid transparent;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    width: 50px;

    ul li a {
      .fa-circle, span {
        display: none;
      }
    }
  }
}
