.drawer {
  position: fixed;
  width: 50px;
  height: 100%;
  background-color: #333;

  transition: width 0.2s;

  @media (min-width: 1200px) {
    width: 240px;
  }

  .home-link {
    margin: 0;

    a {
      font-family: Teko, sans-serif;
      font-weight: 500;

      padding: 10px 15px 7px;

      display: block;
      background-color: $anchor-color;
      color: white;
      transition: background-color 0.25s ease-out;

      &:hover {
        background-color: scale-color($anchor-color, $lightness: -15%);
      }
    }
  }

  ul {
    margin-top: 16px;
    margin-left: 2.5em;

    li {
      color: #b3b3b3;
      transition: color 0.25s ease-out;

      &:hover {
        color: white;

        .fa-circle::before {
          opacity: 1;
        }
      }

      .fa-li {
        margin-top: 4px;
      }

      .fa-circle {
        float: right;
        margin-right: 15px;
        margin-top: 7px;

        &::before {
          opacity: 0;
          transition: opacity 0.25s ease-out;
        }
      }

      a {
        color: inherit;
        display: block;
        padding: 3px 0;
      }
    }
  }
}
