$body-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: Oswald, sans-serif;
$body-antialiased: false;

$anchor-color: #cb333b;
$button-background: $anchor-color;
$button-radius: 6px;

$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
